html {
  background-image: url("/public/back.jpg");
}

.App {
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  position: relative;
  background-color: gray;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card * {
  margin: 0;
}

.cardLine {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cardLine * {
  margin-left: 5px;
  display: inline;
}

.person {
  width: 50px;
  height: 50px;
}

.editable {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.editable:hover {
  filter: invert(78%) sepia(9%) saturate(750%) hue-rotate(299deg) brightness(107%) contrast(107%);
}

.delete:hover {
  filter: invert(78%) sepia(9%) saturate(750%) hue-rotate(299deg) brightness(107%) contrast(107%);
}

.delete {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 40px;
  top: 5px;
}

.toup:hover {
  filter: invert(78%) sepia(9%) saturate(750%) hue-rotate(299deg) brightness(107%) contrast(107%);
}

.toup {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 40px;
  transform: rotate(180deg) scale(1.5);
}

.todown:hover {
  filter: invert(78%) sepia(9%) saturate(750%) hue-rotate(299deg) brightness(107%) contrast(107%);
}

.todown {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 80px;
  transform: scale(1.5);
}

.addCard {
  margin-top: 25px;
  filter: invert(80%);
}

.addCard:hover {
  transform: scale(1.1);
}